<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./styles/materialize.min.css">
	<link rel="stylesheet" href="./styles/common.css">
	<title>主页</title>
</head>

<body>

	<nav>
		<div class="nav-wrapper">
			<a href="#" class="brand-logo">你好,
				<%= username %>
			</a>
			<ul class="right">
				<li>
					<a href="/audit">安全审计</a>
				</li>
				<li>
					<a href="/logout">注销</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<div data-index="set-div" class="row hidden">
			<div class="col s12 m6 offset-m3">
				<div class="card blue-grey darken-1">
					<div class="card-content white-text">
						<span class="card-title">用户状态</span>
						<p data-index="location">位置：
						</p>
						<p data-index="device">设备：
						</p>
					</div>
					<div class="card-action">
						<a data-index="set-btn" class="waves-effect waves-light btn">设为常用状态</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="./scripts/materialize.min.js"></script>
	<script src="./scripts/index.js"></script>
</body>

</html>