<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./styles/materialize.min.css">
	<title>主页</title>
</head>

<body>
	<div>
		<nav>
			<div class="nav-wrapper">
				<a href="#" class="brand-logo">你好，Staticer</a>
				<ul class="right">
					<li>
						<a href="">安全审计</a>
					</li>
					<li>
						<a href="">注销</a>
					</li>
				</ul>
			</div>
		</nav>

	</div>

	<script src="./scripts/materialize.min.js"></script>
</body>

</html>