<div data-audit="set-div" class="row">
  <div class="col s12 m6 offset-m3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">异常登录</span>
        <p data-audit="time">时间：
          <%= audit.time %>
        </p>
        <p data-audit="location">位置：
          <%= audit.location %>
        </p>
        <p data-audit="device">设备：
          <%= audit.device %>
        </p>
      </div>
    </div>
  </div>
</div>