<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="./showLog.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
</head>


<body>

<div id="log-div">
  <div id="top-line">
    <span>{{ currentItem }}</span>
    <select onchange="selectLogType(this.value);">
      <option v-for="item in itemList">{{ item }}</option>
    </select>
  </div>

<!--
width="100%" cellspacing="0" cellpadding="0" border="1px" bgcolor="#fff" align="center"
-->

  <table id="log-table">
    <caption>日志列表</caption>
    <thead>
      <tr>
        <th v-for="column in columnItem">{{ column }}</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item in log_data">
        <td v-for="index in columnItem">{{ item[index] }}</td>
      </tr>
    </tbody>
  </table>
  <br>

<input id="button-export" type="button" value="导出EXCEL" onclick="javascript:exportTableById('log-table')"/>
</div> 

<script type="text/javascript" src="./showLog.js"></script>
</body>
</html>